[submodule "cmake/phake"]
	path = cmake/phake
	url = https://github.com/phiwen96/phake
[submodule "dependencies/ph_type_list"]
	path = dependencies/ph_type_list
	url = https://github.com/phiwen96/ph_type_list
[submodule "dependencies/const_str"]
	path = dependencies/const_str
	url = https://github.com/phiwen96/const_str
[submodule "dependencies/ph_system_file_path_checker"]
	path = dependencies/ph_system_file_path_checker
	url = https://github.com/phiwen96/ph_system_file_path_checker
[submodule "dependencies/ph_macros"]
	path = dependencies/ph_macros
	url = http://github.com/phiwen96/ph_macros
[submodule "dependencies/ph_concepts"]
	path = dependencies/ph_concepts
	url = https://github.com/phiwen96/ph_concepts
